# env setups and configurations to ignore
.vscode
.DS_Store
.venv/

# output extensions to ignore
*.ods

# Python related things to ignore
build/
finopspp.egg-info/
__pycache__/
tools/scratch/credentials.json