# env setups and configurations to ignore
.vscode
.DS_Store
.venv/

# output extensions to ignore
*.ods

# suffixes to ignore
*.proposed*
*.deprecated*
*.variables*

# Python related things to ignore
build/
finopspp.egg-info/
__pycache__/
tools/scratch/*.json
tools/scratch/*.xlsx

# Ignore local pages testing
pages/*.md
pages/**/*.yaml
pages/**/*.toml
pages/**/*.xlsx
Gemfile.lock
_site/
.bundle/
vendor/