# {{ spec.ID }}: {{ spec.Title | title }}

**Specification Version:** {{ spec.version | default('Not specified') }}

**Status:** {{ spec.status | default('Not specified') }}

## Descriptive Statement

{{ spec.Description }}

## Capabilities

{% for capability in spec.Capabilities -%}
* [{{ capability.ID }}]({{ capability.file }}): {{ capability.title }}
{% endfor %}{% if spec.Overrides %}
## Overrides

| Profile | Add IDs | Drop IDs | Title Update | Description Update |
| ------- | ------- | -------- | ------------ | ------------------ |
{%- for override in spec.Overrides %}
| {{ override.Profile }} | {{ override.AddIDs | map(attribute='ID') | list }} | {{ override.DropIDs | map(attribute='ID') | list }} | {{ override.TitleUpdate | default('None') }} | {{ override.DescriptionUpdate | default('None') }} |
{%- endfor %}
{% endif %}