[basic]
name = "{{ name }}"
version = "0.0.1"

[profile]
title = "{{ profile.Specification.Title }}"
version = "{{ profile.Metadata.Version }}"
status = "{{ profile.Metadata.Status }}"

[weights]
# default set of weight variables that can be overwritten based on need
{%- for action in profile.actions %}
{{ action.fqid }} = {{ action.weight }}
{%- endfor %}