# Component Specifications

This document includes the schemas for all the main specifications used by FinOps++. The schemas
are all produced via the [Pydantic JSON Schema](https://docs.pydantic.dev/latest/concepts/json_schema/) and follow both the [OpenAPI Specification](https://spec.openapis.org/oas/latest.html). Importantly,
the outputs are in [YAML format](https://yaml.org/). This choice was made in order to follow the use of YAML in the specifications used by FinOps++. It also
matches the format that is exported by the `finopspp specifications schemas` command.

## Action

Base component used by FinOps++. Can be composed into groups of Capabilities

```yaml
{{ schemas.action }}
```

## Capability

Component attempts to create a first-order logical grouping of Actions. Can be composed into groups of Domains

```yaml
{{ schemas.capability }}
```

## Domain

Components attempts to create a second-order logical grouping of Actions, by categorizing Capabilities.
Can be composed into Profiles.

```yaml
{{ schemas.domain }}
```

## Profile

The top-level logical grouping of Actions. While not really a component itself, a Profile defines a
complete "menu" of Actions grouped by Domains, and then Capabilities. These menus can then be scoped
down for specific use cases.

```yaml
{{ schemas.profile }}
```