# Component Specifications

## Action

```yaml
{{ schemas.action }}
```

## Capability

```yaml
{{ schemas.capability }}
```

## Domain

```yaml
{{ schemas.domain }}
```

## Profile

```yaml
{{ schemas.profile }}
```